<web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">
    <jsp-config>

    </jsp-config>
    <context-param>
        <param-name>captchaStrategy</param-name>
        <param-value>contextCaptcha</param-value>
    </context-param>
    <context-param>
        <param-name>captchaTimeoutParam</param-name>
        <param-value>200</param-value>
    </context-param>

    <context-param>
        <param-name>storage</param-name>
        <param-value>session</param-value>
    </context-param>
    <context-param>
        <param-name>cookieAge</param-name>
        <param-value>500000</param-value>
    </context-param>
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>com.test.melnyk.internetshop.filter.LocaleFilter</filter-class>
        <init-param>
            <param-name>default</param-name>
            <param-value>ru</param-value>
        </init-param>
        <init-param>
            <param-name>locales</param-name>
            <param-value>en;ru</param-value>
        </init-param>
        <init-param>
            <param-name>storage</param-name>
            <param-value>session</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>com.test.melnyk.internetshop.filter.NoCacheFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.test.melnyk.internetshop.filter.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GZipFilter</filter-name>
        <filter-class>com.test.melnyk.internetshop.filter.GZipFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GZipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>